# **Paying the rent**

You are moving to a new city for an internship for a few months and have to rent a house for that purpose.

You have to pay the full month's house rent even if you have lived for a few days for that month. i.e. if you start on 15th Jan and leave by 15th May, you still have to pay full rent for months of Jan and May too.

Your task is to find the months that you have to pay rent for so that you can write post-dated cheques to your landlord.

You will be given two dates as input and your task is to print all months between the dates including the months the dates are from.

The input will contain the two dates in a list as follows: 
[2017,1,1, 2017,3,4] which corresponds to 1st Jan, 2017 and 4th March, 2017. 

This date is in the format(yyyy,mm,dd)

The output should contain a list with names of months you have to pay the rent for (the list should be sorted chronologically based on months, i.e May should come before August).

You can assume that there won't be more than 12 months between two dates.

In [13]:
import datetime, time, ast, sys
from dateutil.rrule import rrule, MONTHLY
from datetime import datetime as dt

In [6]:
# input_str = sys.stdin.read()
input_str = input()
input_list = ast.literal_eval(input_str)
dateStart=datetime.date(input_list[0],input_list[1],input_list[2])
dateEnd=datetime.date(input_list[3],input_list[4],input_list[5])
y1 = input_list[0]
m1 = input_list[1]
y2 = input_list[3]
m2 = input_list[4]

# provide the following as input:
# [2017,8,2,2018,1,1]

[2017,8,2,2018,1,1]

In [14]:
if y1 > y2:
    raise Error("first date after second")
elif y1 == y2:
    if m1 == m2:
        count = 0
    elif m2 > m1:
        count = m2 - m1
    else:
        raise Error("first date after second")
else:
    count = (12 + m2) - m1
    if count > 12:
        raise Error("more than 12 month difference")
        
count += 1  # inclusive of the same month

In [15]:
date_start = datetime.date(y1, m1, 1)
months = [dt.strftime("%B") for dt in rrule(MONTHLY, dtstart=date_start, count=count)]
print(months)

['August', 'September', 'October', 'November', 'December', 'January']

In [16]:
months_sorted = sorted(months, key=lambda m: dt.strptime(m, "%B"))
print(months_sorted)

['January', 'August', 'September', 'October', 'November', 'December']